FRONT_DOCKER_PORT_EXPOSED=5053

APP_NAME=workproba-front

DEFAULT_COLOR_MODE=light
VUE_ROUTER_MODE=history
QUASAR_DEV_MODE=csr

AI_SIDECAR_URL=http://127.0.0.1:8765
DESKTOP_INTERNAL_SECRET=desktop-dev-secret
DESKTOP_MODE=true
